/* Colors */

:root {
    --bright-orange:hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan:  hsl(179, 100%, 13%);
    --transparent-white:hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

/* box sizing */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-light-gray);
    color: var(--very-light-gray);
    display: flex;
    line-height: 1.5rem;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    overflow: auto;
    height: 100vh;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 100%;
    flex-wrap: wrap;   
}

article {
    max-width: 300px;
    height: 525px;
    padding: 42px;
    position: relative;
   
}

button { 
    position: absolute;
    text-align: center;
    display: inline-block;
    background-color: var(--very-light-gray); 
    border-radius: 1.5rem;
    border-width: 0;
    width: 150px;
    height: 45px;
    padding: 14px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: 0.2rem solid var(--very-light-gray);
    bottom: 42px;
}


article:first-child {
    background-color: var(--bright-orange);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    
}

article:first-child .btn {
    color: var(--bright-orange);
 
 }

article:nth-child(2){
    background-color: var(--dark-cyan)
}

article:nth-child(2) .btn {
    color: var(--dark-cyan);
  
}

article:last-child {
    background-color: var(--very-dark-cyan);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  
}

article:last-child .btn {
    color: var(--very-dark-cyan);
    
}

article .btn:hover {
    background-color: transparent;
    color: var(--very-light-gray);
    transition: all 0.4s ease-in-out;
}

img {
    padding-top: 2rem;
}


h1 {
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    padding-top: 2rem;
}
article p {
    color: var(--transparent-white);
    padding-top: 2rem;
}

.attribution { 
    color: var(--very-dark-cyan);
    width: 100%;
    position: absolute;
    margin: 0;
    bottom: 10px;
    font-size: 0.75rem; 
    text-align: center; 
    line-height: 20px;
}
.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 640px) {
    body {
        display: flex;
        width: 100%;
        overflow: scroll;
        flex-wrap: wrap;
    }
    main{
        padding: 50px 0;
        flex-direction: column;
    }

    article:first-child {
        border-radius: 0;
    }

    article:last-child {
        border-radius: 0;
    }

    article p {
        font-size: 0.77rem;
    }

    .attribution {
        position: relative;
        width: auto;
        padding-left: 10rem;

    }

}
